:root {

  --primary-background-color: #ffffff;
  --primary-foreground-color: #ffcc99;
  --button-color:             #ff6633;
  --link-color:               #ff6600;
  --header-background-color:  black;
  --body-background-color:    #282c34;
  --share-background-color:   black;
  --footer-background-color:  #181c24;
}

.App {

	text-align: center;
	background-color: var(--primary-background-color);
	color: var(--primary-foreground-color);
}

div.App-banner {

	height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	background-color: var(--primary-background-color);
	color: white;
}

div.App-banner.App-header {

	background-color: var(--header-background-color);
	height: 15vh;
}

div.App-banner.App-header.two-button-rows {

	height: 15vh;
}

div.App-banner.App-header.one-button-row {

	height: 10vh;
}

div.App-banner.App-body {

	background-color: var(--body-background-color);
	min-height: 60vh;
}

div.App-banner.App-body.two-button-rows {

	height: 60vh;
}

div.App-banner.App-body.one-button-row {

	height: 65vh;
}

/* The font-size is needed for obscure reasons. The icons will not center correctly
 * in vertical direction otherwise. Maybe they are positioned as characters and the
 * baseline is deduced in correctly or something like that.*/
div.App-banner.App-share-banner {

	background-color: var(--share-background-color);
	height: 50px;
	font-size: 0px;
}

.App-right-align {

	position: absolute;
	right: 10vh;
}

div.App-banner.App-footer {

	background-color: var(--footer-background-color);
	height: 20vh;
	font-size: 1.5vh;
}

div.App-footer-inner {

    width: 90%;
	text-align: right;
}

p.App-footer-inner {

	margin: 0;
	padding: 0;
}

.App-link {

  color: var(--link-color);
}

/* In this CSS style sheet 'quotes' refer to the two double quote svg images in
 * the app, and 'quote' to the quoted phrase(s)/sentence(s) that are between
 * the quote images.
 */
div.quotes{

    width: 100%;
    height: 10vmin;
}

.App-quotes-left {

  height: 10vmin;
  float: left;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.App-quotes-right {

  height: 10vmin;
  float: right;
}


.App-quote {

  font-size: calc(10px + 2vmin);
  color: white;
}

div.App-quote {

    width: 90%;
}

.App-quote-text {

  	color: var(--primary-foreground-color);
    font-size: calc(10px + 3vmin);
	font-style: italic;
}

.App-quote-author {

  	color: var(--primary-foreground-color);
    font-size: calc(10px + 4vmin);
	font-style: bold;
}

.float-right {

	float: right;
}
